<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>

	</appSettings>

	<!-- note: for deployment, change localhost in baseAddress to the ip of the host machine -->
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<!-- Logging (Soap) -->
				<behavior name="Logging.Services.Traffics.SoapBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="Logging.Services.Mappings.SoapBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<!-- Logging (Rest) -->
				<behavior name="Logging.Services.Traffics.RestBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="Logging.Services.Mappings.RestBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<!-- Logging (Soap) -->
			<service name="monius.Logging.WwW.Services.Soap.Traffics" behaviorConfiguration="Logging.Services.Traffics.SoapBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="monius.Logging.WwW.Services.Soap.Traffics">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9090/monius.logging/soap/traffics/" />
					</baseAddresses>
				</host>
			</service>
			<service name="monius.Logging.WwW.Services.Soap.Mappings" behaviorConfiguration="Logging.Services.Mappings.SoapBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="monius.Logging.WwW.Services.Soap.Mappings">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9090/monius.logging/soap/mappings/" />
					</baseAddresses>
				</host>
			</service>
			<!-- Logging (Rest) -->
			<service name="monius.Logging.WwW.Services.Rest.Traffics" behaviorConfiguration="Logging.Services.Traffics.RestBehavior">
				<endpoint address="" binding="webHttpBinding" contract="monius.Logging.WwW.Services.Rest.Traffics" behaviorConfiguration="web">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9090/monius.logging/rest/traffics/" />
					</baseAddresses>
				</host>
			</service>
			<service name="monius.Logging.WwW.Services.Rest.Mappings" behaviorConfiguration="Logging.Services.Mappings.RestBehavior">
				<endpoint address="" binding="webHttpBinding" contract="monius.Logging.WwW.Services.Rest.Mappings" behaviorConfiguration="web">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9090/monius.logging/rest/mappings/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>

</configuration>