<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<!-- Logging -->
				<binding name="BasicHttpBinding.Logging.Traffics" />
				<binding name="BasicHttpBinding.Logging.Mappings" />
			</basicHttpBinding>
		</bindings>
		<client>
			<!-- Logging -->
			<endpoint
				address="http://localhost:9090/monius.logging/soap/traffics/"
				binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding.Logging.Traffics"
				contract="Traffics"
				name="BasicHttpBinding.Logging.Traffics"
				/>
			<endpoint
				address="http://localhost:9090/monius.logging/soap/mappings/"
				binding="basicHttpBinding"
				bindingConfiguration="BasicHttpBinding.Logging.Mappings"
				contract="Mappings"
				name="BasicHttpBinding.Logging.Mappings"
				/>
		</client>
	</system.serviceModel>

</configuration>