<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<connectionStrings>
		<add name="monius"
			connectionString="Server=localhost;Database=NovaPay(0.3);Trusted_Connection=True;"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>

	</appSettings>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		throwExceptions="true"
		internalLogFile="${basedir}/App_Temp/nlog.nlog"
		internalLogLevel="Trace">
		<targets>
			<target name="file" xsi:type="File"
				fileName="${basedir}/App_Temp/site.nlog"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
				/>
			<target xsi:type="Console" name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
				/>
		</targets>

		<rules>
			<logger name="*" minlevel="Trace" writeTo="console"/>
		</rules>
	</nlog>

</configuration>